#navbar1{
    background-color:#bd7cd3 ;
    border-style:groove;
    border-radius: 20px;
    border: #bd7cd3;
    font-family: 'Roboto', sans-serif;
}

.nav_pills{
    color:black;
    margin-left:20px;
    text-transform: capitalize;
    text-decoration: none;
}

.title{
    height: auto;
    width: auto;
    text-align: center;
}

.title-2{
    text-align: center;
    border: #bd7cd3;
    border-style:groove;
    border-radius: 20px;
    padding: 20px;
}

.p{
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
}

.card-header{
    background-color: #bd7cd3;
}

.card{
    text-align: center;
    
}
